[submodule "any"]
	path = any
	url = https://github.com/martinmoene/any-lite
	branch = master
[submodule "byte"]
	path = byte
	url = https://github.com/martinmoene/byte-lite
	branch = master
[submodule "expected"]
	path = expected
	url = https://github.com/martinmoene/expected-lite
	branch = master
[submodule "observer-ptr"]
	path = observer-ptr
	url = https://github.com/martinmoene/observer-ptr-lite
	branch = master
[submodule "optional"]
	path = optional
	url = https://github.com/martinmoene/optional-lite
	branch = master
[submodule "ring-span"]
	path = ring-span
	url = https://github.com/martinmoene/ring-span-lite
	branch = master
[submodule "span"]
	path = span
	url = https://github.com/martinmoene/span-lite
	branch = master
[submodule "status-value"]
	path = status-value
	url = https://github.com/martinmoene/status-value-lite
	branch = master
[submodule "string-view"]
	path = string-view
	url = https://github.com/martinmoene/string-view-lite
	branch = master
[submodule "value-ptr"]
	path = value-ptr
	url = https://github.com/martinmoene/value-ptr-lite
	branch = master
[submodule "variant"]
	path = variant
	url = https://github.com/martinmoene/variant-lite
	branch = master
